<!DOCTYPE html>
<html lang="ja">
  <meta charset="utf-8">
  <link rel="stylesheet" href="/base.css">

  <body>
    {% block content %}{% endblock %}
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
  </body>
</html>
