{% extends "base.twig" %}

{% block content%}
{%if messages %}
  {% for message in messages %}
  <div class="well well-sm">{{ message.message }} ({{ message.created_at }})</div>
  {% endfor %}
{% endif %}
{% endblock %}

