{% extends "base.twig" %}

{% block post_url %}
/chapter1/write
{% endblock %}
{% block username%}
<div style="background:#ffeeee; padding:10px; border:1px solid #ff0000; border-radius:20px;">{{ user }}</div>
{% endblock %}
