{% extends "base.twig" %}
{% block username %}
<div style="background:#ffeeee; padding:10px; border:1px solid #ff0000; border-radius:20px;">{{ username }}</div>
{% endblock %}
{% block messages %}
<a href="/"><span class="badge">{{ messages }}</span></a>
{% endblock %}
{% block follow %}
<a href="/"><span class="badge">{{ follow }}</span></a>
{% endblock %}
{% block follower %}
<a href="/"><span class="badge">{{ follower }}</span></a>
{% endblock %}
{% block content %}
<div id="messages">
  <ul class="list-unstyled" id="ul">
    <li style="border-style:solid;border-width: thin;border-color:#e3e3e3;">
      <p>message</p>
      <p>hogehoge</p> 
    </li>
    <li> hoge </li>
  </ul>
</div>
{% endblock %}
