{% extends "base.twig" %}
{% block messages %}
15
{% endblock %}
{% block follow %}
15
{% endblock %}
{% block follower %}
15
{% endblock %}
{% block content %}
<al class="list-unstyled">
  <li>
    <p>message</p>
    <p>hogehoge</p> 
  </li>
</al>
{% endblock %}
